---
import type { Menu } from "@/interfaces/menu.interface";
import Accordion from "@/components/ui/Accordion.astro";

import Icon from "@/components/ui/Icon.astro";
import Link from "@/components/ui/Link.astro";

interface Props {
  menu: Menu;
}

const { menu } = Astro.props as Props;

const subMenuLinkClass =
  "relative inline-block px-4 cursor-pointer py-2 text-sm font-medium \
  after:content-[''] after:absolute after:left-0 after:bottom-0 \
  after:h-0.5 after:bg-tertiary after:w-full \
  after:origin-left after:scale-x-0 \
  after:transition-transform after:duration-300 \
  hover:after:scale-x-100";

const hasChildren = (menuItem: Menu): boolean => {
  return (menuItem.children?.length ?? 0) > 0;
};

// console.log('children', menu.children);
---

{/* <!-- Screen for Desktop and Tablet --> */}
<li class="max-lg:hidden max-lg:p-3 relative group">
  <!-- NIVEL 1 -->

  <Link link={menu.link} class="flex items-center font-semibold text-white">
    {menu.title}
    <Icon
      name="chevron-down"
      class="w-4 h-4 ml-1 fill-current transition-transform duration-200 group-hover:rotate-180"
    />
  </Link>

  <!-- NIVEL 2 -->
  <ul
    class="max-sm:hidden absolute z-10 left-0 top-full mt-2 min-w-[250px] bg-primary text-white shadow-lg rounded-lg opacity-0 invisible transition-all duration-300 ease-in-out group-hover:opacity-100 group-hover:visible group-hover:translate-y-1"
  >
    {
      hasChildren(menu) &&
        menu.children?.map((subMenu) => (
          <>
            {!hasChildren(subMenu) && (
              <li class="relative border-b border-gray-700">
                <Link link={subMenu.link!} class={subMenuLinkClass}>
                  {subMenu.title}
                </Link>
              </li>
            )}

            {hasChildren(subMenu) && (
              <li class="relative border-b border-gray-700 group/sub">
                <Link link={subMenu.link!} class={subMenuLinkClass}>
                  {subMenu.title}
                </Link>

                {subMenu.children && (
                  <ul class="absolute left-full top-0 min-w-[220px] bg-primary text-white shadow-lg rounded-lg opacity-0 invisible transition-all duration-300 ease-in-out group-hover/sub:opacity-100 group-hover/sub:visible group-hover/sub:translate-x-0.5">
                    {subMenu.children.map((childMenu) => (
                      <li class="relative border-b border-gray-700">
                        <Link link={childMenu.link!} class={subMenuLinkClass}>
                          {childMenu.title}
                        </Link>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            )}
          </>
        ))
    }
  </ul>
</li>

{/* <!-- Screen for Mobile --> */}

<li class="lg:hidden max-w-5xl mx-auto text-white">
  <Accordion title={menu.title} link={menu.link}>
    {
      menu.children?.map((subMenu, i) => (
        <>
          {!hasChildren(subMenu) && (
            <ul>
              <li
                class:list={[
                  i > 0 && "max-lg:border-b",
                  "cursor-pointer max-lg:border-gray-800 max-lg:py-3 max-lg:px-3 relative lg:hover:after:absolute lg:after:bg-tertiary lg:after:w-0 lg:hover:after:w-full lg:hover:after:h-0.5 lg:after:block lg:after:top-7 lg:after:transition-all lg:after:duration-300",
                ]}
              >
                <Link link={subMenu.link!} class="text-white block font-medium">
                  {subMenu.title}
                </Link>
              </li>
            </ul>
          )}

          {hasChildren(subMenu) && (
            <Accordion deep={2} title={subMenu.title} link={subMenu.link}>
              <ul>
                {subMenu.children?.map((childMenu) => (
                  <li
                    class:list={[
                      i > 0 && "max-lg:border-b",
                      "cursor-pointer max-lg:border-gray-800 max-lg:py-3 max-lg:px-3 relative lg:hover:after:absolute lg:after:bg-tertiary lg:after:w-0 lg:hover:after:w-full lg:hover:after:h-0.5 lg:after:block lg:after:top-7 lg:after:transition-all lg:after:duration-300",
                    ]}
                  >
                    <Link
                      link={childMenu.link!}
                      class="text-white block font-medium"
                    >
                      {childMenu.title}
                    </Link>
                  </li>
                ))}
              </ul>
            </Accordion>
          )}
        </>
      ))
    }
  </Accordion>
</li>
