---
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
import Textarea from "@/components/ui/Textarea.astro";
import { InputType } from "@/interfaces/section-item.interface";
import type { Section } from "@/interfaces/section.interface";
import SectionLayout from "@/layouts/SectionLayout.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props as Props;
---

<SectionLayout aria-labelledby="contact-us-title">
  <div class="flex mx-auto gap-x-10">
    <!-- Imagen -->
    {
      section.image && (
        <div class="hidden lg:block lg:basis-1/2 h-full my-auto animate-fadeInLeft">
          <img src={section.image} class="w-full h-full  object-cover" />
        </div>
      )
    }

    <div
      class="basis-full mx-auto lg:basis-1/2 lg:flex lg:justify-center items-center animate-fadeInUp"
    >
      <div class="flex-1 mx-auto px-4 text-gray-600">
        <header class="text-center">
          <h3 class="title text-center">
            {section.title}
          </h3>

          <p class="description mt-4">
            {section.description}
          </p>
        </header>

        <form
          data-emailContact={section?.subtitle}
          id="contact-form"
          class="space-y-5 mt-12 lg:pb-12"
          novalidate
        >
          {
            section.section_items &&
              section.section_items.map((item) => (
                <>
                  {[InputType.TEXT, InputType.EMAIL].includes(
                    item.input_type!
                  ) && (
                    <Input
                      label={item.title!}
                      type={item.input_type?.toLowerCase() as any}
                      placeholder={item.subtitle!}
                      autocomplete="off"
                    />
                  )}

                  {item.input_type === InputType.TEXTAREA && (
                    <Textarea
                      label={item.title!}
                      name={item.title}
                      placeholder={item.subtitle!}
                    />
                  )}
                </>
              ))
          }

          {
            section.text_button && (
              <Button
                type="submit"
                variant="solid"
                class="w-full justify-center"
              >
                {section.text_button}
              </Button>
            )
          }
        </form>
      </div>
    </div>
  </div>
</SectionLayout>

<script>
  import { actions } from "astro:actions";
  import nativeToast from 'native-toast'
   import "native-toast/dist/native-toast.css";

  const form = document.getElementById("contact-form") as HTMLFormElement;
  form.addEventListener("submit", async function (event) {
    event.preventDefault();

    const inputs = this.querySelectorAll("input, textarea");
    const formData: { [key: string]: string } = {};

    inputs.forEach((input) => {
      const name = (input as HTMLInputElement).getAttribute("name")?.toLowerCase() || "";
      const value = (input as HTMLInputElement).value;
      formData[name] = value;
    });

    if (Object.values(formData).some((value) => value.trim() === "")) {
      // showAlert(
      //   "Por favor, completa todos los campos del formulario.",
      //   "warning"
      // );
        nativeToast({
          message: "Por favor, completa todos los campos del formulario.",
          position: "north-east",
          timeout: 3000,
          type: "warning",
        });
      return;
    }

    if (
      Array.from(inputs).some((input) => {
        const type = (input as HTMLInputElement).getAttribute("type");
        const value = (input as HTMLInputElement).value;
        return type === "email" && !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value);
      })
    ) {
       nativeToast({
        message: "Por favor, ingresa un email válido.",
        position: "north-east",
        timeout: 3000,
        type: "error",
      });
      return;
    }

    const emailContact = this.getAttribute("data-emailContact") as string;

    if (!emailContact) {
       nativeToast({
        message: "Error interno: dirección de contacto no encontrada.",
        position: "north-east",
        timeout: 3000,
        type: "error",
      });   
      return;
    }

    const email =
      form["Email"] ||
      form["Correo"] ||
      form["email"] ||
      form["correo"] ||
      form["From"] ||
      (form.querySelector('input[type="email"]') as HTMLInputElement);
    const subject =
      formData["Asunto"] ||
      formData["Subject"] ||
      formData["subject"] ||
      formData["asunto"] ||

      `Nuevo mensaje de ${email.value}`;

    const extraFields = Array.from(inputs).filter((input) => {
      const name = (input as HTMLInputElement).getAttribute("name")?.toLowerCase() || "";
      return ![email?.getAttribute("name")?.toLowerCase() || "", "subject", "asunto"].includes(name);
    }) as HTMLInputElement[];

    const sendData = new FormData();
    // sendData.append("to", emailContact);
    sendData.append("email", email?.value);
    sendData.append("subject", subject);  
    sendData.append("extraFields", JSON.stringify(extraFields.map(field => ({
      name: field.getAttribute("name"),
      value: field.value
    }))));

    let loading = nativeToast({
      message: "Enviando mensaje...",
      position: "north-east",
      // timeout: 0,
      type: "info",
    });

    const response = await actions.EmailSend(sendData);
    if (!response.data) {
        nativeToast({
          message: "Error al enviar el mensaje. Por favor, intenta nuevamente más tarde.",
          position: "north-east",
          timeout: 3000,
          type: "error",
        });
        loading.destroy();
        return;
    } 

    nativeToast({
      message: "¡Mensaje enviado con éxito!",
      position: "north-east",
      timeout: 3000,
      type: "success",
    });

    // form.reset();
  });
</script>
