---
import SectionLayout from "@/layouts/SectionLayout.astro";
import Link from "@/components/ui/Link.astro";
import type { Section } from "@/interfaces/section.interface";

interface Props {
  section: Section;
}

const { section } = Astro.props as Props;
---

<SectionLayout
  aria-labelledby="preventive-corrective-maintenance-title"
  class="bg-primary xl:rounded-r-full xl:w-11/12 text-white"
>
  <div class="p-4 grid lg:grid-cols-3 gap-4 text-white animate-fadeInUp">
    {
      section.video && (
        <video
          autoplay
          muted
          loop
          playsinline
          class="mx-auto w-full max-w-[300px] h-[400px] object-cover rounded-lg shadow-lg shadow-amber-50"
        >
          <source src={section.video} />
          Tu navegador no soporta este formato de video.
        </video>
      )
    }

    <div
      class="flex flex-col gap-4 mx-auto max-lg:text-center max-lg:items-center max-lg:mt-10"
    >
      <h2 class="subtitle text-white!">
        {section.title}
      </h2>
      <p class="max-md:text-sm">
        {section.description}
      </p>

      <ul class="list-disc list-inside space-y-2 max:md:text-sm">
        {
          section.additional_info_list &&
            section.additional_info_list.map((info) => <li>{info.label}</li>)
        }
      </ul>

      {
        (section.text_button || section.link) && (
          <Link
            link={section.link}
            variant="button"
            class="mt-4 w-fit hover:scale-105 transition-transform duration-300 hover:bg-tertiary"
            textButton={section.text_button}
          />
        )
      }
    </div>

    <div class="flex flex-col mx-auto w-fit max-md:mt-10 max-md:items-center">
      <img
        src={section.image}
        alt="Banner Cechriza"
        class="shadow-lg rounded-lg shadow-amber-50 lg:col-span-1 max-h-[400px] lg:object-contain"
      />

      {
        (section.extra_text_button || section.extra_link) && (
          <Link
            variant="button"
            class="mt-10 w-fit hover:scale-105 transition-transform duration-300 hover:bg-tertiary"
            link={section.extra_link}
            textButton={section.extra_text_button}
          />
        )
      }
    </div>
  </div>
</SectionLayout>
