---
import { Icon } from "astro-icon/components";
import SectionLayout from "@/layouts/SectionLayout.astro";
import type { Section } from "@/interfaces/section.interface";

interface Props {
  section: Section;
}

const { section } = Astro.props as Props;
---

<SectionLayout
  title={section.title}
  subtitle={section.subtitle}
  description={section.description}
>
<header class="text-center mb-6 animate-fadeInUp">
    <h3 class="title text-center">
      {section.title}
    </h3>
  </header>

  {
    section.section_items && (
      <article class="flex flex-wrap justify-center items-stretch animate-fadeInUp">
  {section.section_items.map((item) => (
    <div class="group flex flex-col sm:w-4/5 md:w-1/2 lg:w-1/3 text-center rounded-lg p-4 sm:p-6 hover:bg-gray-100 transition">
      
      <h3 class="text-2xl font-semibold text-secondary">
        {item.title}
      </h3>

      <p class="mt-1 desciption flex-1">
        {item.description}
      </p>

      <p class="mt-5 inline-flex items-center justify-center gap-x-1 font-medium text-blue-600">
        <Icon name="lucide:chevron-right" class="shrink-0 size-4 transition group-hover:translate-x-1" />
        {item.subtitle}
      </p>
    </div>
  ))}
</article>

    )
  }
</SectionLayout>
