---
import SectionLayout from "@/layouts/SectionLayout.astro";
import type { Section } from "@/interfaces/section.interface";
import IconImage from "@/components/ui/IconImage.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props as Props;
---

<SectionLayout
  aria-labelledby="value-proposition-title"
>
  <div class="flex flex-col items-center justify-center gap-10">
    <!-- Texto principal -->
    <header class="w-full text-center mb-12 md:mb-0 animate-fadeInUp">
      <h3 class="subtitle mb-2">
        {section.subtitle}
      </h3>
      <h2 class="title mb-4">
        {section.title}
      </h2>
      <p class="description">
        {section.description}
      </p>
    </header>

    {
      section.section_items && (
        // <!-- Grid de Beneficios -->
        <div class="w-full flex flex-wrap justify-center gap-4 animate-fadeIn">
          {section.section_items.map((item) => (
            <article class="bg-[#f3f4f6]   basis-full sm:basis-[calc(50%-1rem)] lg:basis-[calc(25%-1rem)]  2xl:basis-[calc(20%-1rem)] mx-auto border-3 rounded-3xl shadow hover:shadow-xl transition-transform hover:-translate-y-1 p-4 text-center">
              <div class="w-fit mx-auto p-3">
                <IconImage item={item} />
              </div>
              <h4 class="text-secondary font-bold text-xl mb-2">
                {item.title}
              </h4>
              <p class="description">{item.description}</p>
            </article>
          ))}
        </div>
      )
    }
  </div>
</SectionLayout>
