---
import "../styles/global.css";

type Props = {
  title: string;
  description?: string | null;
  image?: string;
  url?: string;
  keywords?: string;
  author?: string;
  cardDescription?: string | null;
};

const defaultDescription =
  "Expertos en la gestión del efectivo. Con más de 8000 máquinas contadoras de billetes y monedas vendidas. Contamos con servicio técnico en todo el Perú";

const defaultImage = "/cechriza_logo.jpg";
const siteName = "Cechriza S.A.C";

const {
  title,
  description,
  image = defaultImage,
  url = Astro.url,
  keywords = "contadora de billetes, contadora de monedas, cechriza, servicio tecnico, mantenimiento, billete falso, recicladora de dinero, bcr, maquina contadora, perú, lima, arequipa, trujillo, cuenta, detectar, detector, contador, valorizador, clasificador, sistema de depósito, venta",
  author = "Cechriza S.A.C",
  cardDescription = description || defaultDescription,
} = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Título y descripción -->
    <title>{title} | {siteName}</title>
    <meta name="language" content="ES" />

    <meta name="description" content={description || defaultDescription} />

    <!-- Palabras clave -->
    <meta name="keywords" content={keywords} />

    <!-- Autor -->
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={cardDescription} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteName} />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title} | ${siteName}`} />
    <meta name="twitter:description" content={cardDescription} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:creator" content={author} />

    <!-- Favicon y color -->
    <link rel="icon" href="/favicon.ico" />

    <meta name="theme-color" content="oklch(.21 .034 264.665)" />

    <!-- Canonical -->
    <link rel="canonical" href={url} />

    <!-- Robots -->
    <meta name="robots" content="index, follow" />

    <!-- Apple Touch Icons -->
    <link
      rel="apple-touch-icon"
      sizes="114×114"
      href="/apple-icon-114x114.png"
    />
    <link rel="apple-touch-icon" sizes="72×72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="72×72" href="/apple-icon-72x72.png" />

    <!-- Estructura JSON-LD (para datos enriquecidos) -->
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": image === defaultImage ? "WebPage" : "Product",
        name: title,
        description: cardDescription,
        url,
        image,
      })}
    />
  </head>

  <body>
    <main class="fondo_paralelo">
      <slot />
    </main>
  </body>
</html>

<style>
  .fondo_paralelo {
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 0; /* ← cambiamos -10 por 0 */
  }

  /* Primera franja */
  .fondo_paralelo::before,
  .fondo_paralelo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    transform: skew(20deg);
    pointer-events: none;
    z-index: -1;
  }

  /* Colores y animaciones */
  .fondo_paralelo::before {
    background-color: #f9fafb;
    animation: expandFirst 22s ease-in-out infinite;
  }

  .fondo_paralelo::after {
    background-color: #f3f4f6;
    animation: expandSecond 22s ease-in-out infinite;
    animation-delay: 0.1s;
  }

  .fondo_paralelo > * {
    position: relative;
    z-index: 1; /* contenido por encima */
  }

  /* Animación de crecimiento y retroceso */
  @keyframes expandFirst {
    0% {
      width: 0%;
    }
    30% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes expandSecond {
    0% {
      width: 0%;
    }
    30% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }
    70% {
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }
    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
</style>

<script>
  const links = document.querySelectorAll("nav a, footer a");
  const activeLink = window.location.pathname.split("/").pop();

  const queryString = window.location.search;
  const params = new URLSearchParams(queryString);

  const queryParam = params.keys().next().value;

  for (const link of links) {
    if (
      link.getAttribute("href") === activeLink ||
      link.getAttribute("href") === activeLink + `?${queryParam}`
    ) {
      link.classList.add("!text-tertiary");
    }
  }
</script>
