---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Descripción genérica" } = Astro.props;

import "../styles/global.css";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- SEO básico -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/images/preview.jpg" />

    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
