---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'input'> {
  label?: string;
}

const {
  label,
  type = "text",
  placeholder = "",
  id,
  class: className,
  ...rest
} = Astro.props as Props;
---

{
  label && (
    <div>
      <label for={label} class="font-medium">
        {label}
      </label>
      <input
        type={type}
        id={id ||label}
        name={id || label}
        placeholder={placeholder}
        class={`w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-gray-800 shadow-sm rounded-lg ${className}`}
       {...rest}
      />
    </div>
  )
}

{
  !label && (
    <input
      type={type}
      id={id}
      name={id}
      placeholder={placeholder}
      class={`w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-gray-800 shadow-sm rounded-lg ${className}`}
      {...rest}
    />
  )
}
