---
import { type Link, LinkType } from "@/interfaces/link.interface";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  link?: Link | null;
  textButton?: string | null;
  query?: string;
}

const { link, textButton, query, ...props } = Astro.props as Props;

const target = link?.new_tab ? "_blank" : "_self";

---

{
  !link  && (
    <span {...props}>
      {Astro.slots.default ? <slot /> : textButton}
    </span>
  )
}

{
  link?.type == LinkType.PAGE && (
    <a href={link.page?.slug + (query ? `?${query.trim()}` : "")} target={target} {...props}>
      
      {Astro.slots.default ? <slot /> : (textButton || link.title)}
    </a>
  )
}

{
  link?.type == LinkType.EXTERNAL && (
    <a href={link.url} target={target} rel="noopener noreferrer" {...props}>

      {Astro.slots.default ? <slot /> : (textButton || link.title)}
    </a>
  )
}

{
  link?.type == LinkType.FILE && (
    <a
      href={link.file_url}
      target={target}
      rel="noopener noreferrer"
      download
      {...props}
    >
    
      {Astro.slots.default ? <slot /> : (textButton || link.title)}
    </a>
  )
}
